@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng</h5>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-sm btn-block" onclick="window.location.href='/product/list'">
                                    <span class="glyphicon glyphicon-share-alt"></span> Tiếp tục mua hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="cart-table">
                    Không có sản phẩm nào
                </div>
                <div class="panel-footer" id="cart-table-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>