@{ 
    ViewData["Title"] = "Người dùng";
    ViewBag.BCTree = new Dictionary<string, string> { { "Trang chủ", "/" },{"Người dùng","/User/Profile" } };
}
<div id="profile-container">
    <!-- Sidebar -->
    <div id="sidebar">
        <ul class="nav">
            <li>
                <a href="#" id="user-info" onclick="getUserInfo()">
                    <i class="zmdi zmdi-view-dashboard"></i> Thông tin tài khoản
                </a>
            </li>
            <li>
                <a href="#" id="change-password" onclick="selectTab('change-password')">
                    <i class="zmdi zmdi-link"></i> Đổi mật khẩu
                </a>
            </li>
            <li>
                <a href="#" id="user-orders" onclick="GetUserOrders(1,0)">
                    <i class="zmdi zmdi-widgets"></i> Quản lý đơn hàng
                </a>
            </li>
            <li>
                <a href="#" id="favourites" onclick="selectTab('favourites')">
                    <i class="zmdi zmdi-calendar"></i> Sản phẩm yêu thích
                </a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div id="content" style="padding-left:20px;">
        <div id="user-profile-content"></div>
    </div>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

    body {
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    /* Toggle Styles */
    #profile-container {
        padding-left: 250px;
        display: flex;
    }

    #content {
        width: 100%;
        position: relative;
        margin-right: 0;
    }

    /* Sidebar Styles */

    #sidebar {
        z-index: 1000;
        left: 250px;
        width: 250px;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #37474F;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        #sidebar header {
            background-color: #263238;
            font-size: 20px;
            line-height: 52px;
            text-align: center;
        }

            #sidebar header a {
                color: #fff;
                display: block;
                text-decoration: none;
            }

                #sidebar header a:hover {
                    color: #fff;
                }

        #sidebar .nav {
        }

        #sidebar .nav a {
            background: none;
            border-bottom: 1px solid #455A64;
            color: #CFD8DC;
            font-size: 14px;
            padding: 16px 24px;
        }

            #sidebar .nav a:hover {
                background: none;
                color: #fff;
            }

        #sidebar .nav a i {
            margin-right: 16px;
        }
        #user-info:hover {
            color: #fff;
        }
        #user-orders:hover {
            color: #fff;
        }
        #change-password:hover {
            color: #fff;
        }
        #favourites:hover {
            color: #fff;
        }
</style>