@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TopStatVM
<div class="x_title">
    <h2>@Model.Title</h2>
    <ul class="nav navbar-right panel_toolbox">
        <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">Settings 1</a>
                </li>
                <li>
                    <a href="#">Settings 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<ul class="list-unstyled top_profiles scroll-view">
    @foreach (var Key in Model.TopList.Keys)
    {
        <li class="media event">
            <a class="pull-left border-aero profile_thumb">
                <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
                <a class="title" href="#">@Key</a>
                <p><strong>@Model.TopList[Key].ToString("0,0")đ </strong> </p>
            </div>
        </li>
    }
</ul>